---
---

@import "{{ site.theme }}";
$primary-color: #EBEBF2;
$padding-logos: 20px;

body {
    font-family: Arial, sans-serif;
    background: $primary-color;
    color: #3f3f3f
}

h2 {
    color: darken($primary-color, 50%);
}

#container {
    background: $primary-color;
}

ul li {
    padding-left: 5px;
    margin-left: 12px;
}

img[src*="#jupyter"] {
    padding-right: $padding-logos;
    width:60px;
    height:60px;
}

img[src*="#python"] {
    padding-right: $padding-logos;
    width:50px;
    height:50px;
}

img[src*="#R"] {
    width:70px;
    height:50px;
}

